name: Build macOS DMG

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Grant execute permission
        run: chmod +x gradlew

      - name: Build macOS DMG
        run: ./gradlew packageDmg

      - name: Upload DMG
        uses: actions/upload-artifact@v4
        with:
          name: macOS-App
          path: build/compose/binaries/main/dmg
